<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </div>
  <div class="field">
    <%= f.label :access_level %><br />
    <%= f.number_field :access_level %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :permit %><br />
    <%= f.text_field :permit %>
  </div>
  <div class="field">
    <%= f.label :work_status %><br />
	<%= f.select :work_status, options_for_select(User::WORK_STATUSES, @user.work_status) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
