<div class="field">
  <%= f.label :username, "Системное имя" %>
  <%= f.text_field :username %>
</div>

<div class="field">
<label>Права</label>
<%= hidden_field_tag "user[permission_ids][]", nil %>
<% Permission.all.each do |permission| %>
  <%= check_box_tag "user[permission_ids][]", permission.id, @user.permission_ids.include?(permission.id), id: dom_id(permission) %>
  <%= label_tag dom_id(permission), permission.title %><br>
<% end %>
</div>

  <div class="field">
    <%= f.label :first_name, "Имя" %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Фамилия" %>
    <%= f.text_field :last_name %>
  </div>
	
  <div class="field">
	<%= f.label :email, "Электронная почта" %>
  	<%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="field">
    <%= f.label :password, "Пароль" %>
  	<%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Подтверждение пароля" %>
  	<%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :phone, "Телефон" %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :position, "Должность" %>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :organization_id, "Организация" %>
    <%= f.collection_select(:organization_id, Organization.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :division, "Подразделение" %>
    <%= f.text_field :division %>
  </div>
<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-new thumbnail" style="width: 100px; height: 100px;">
	<% if @user.avatar? %>
	<%= image_tag @user.avatar.url(:large) %>
	<% else %>
	<img src="http://www.placehold.it/100x100/EFEFEF/AAAAAA" />
	<% end %>
  </div>
  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 100px; max-height: 100px;"></div>
  <div>
    <span class="btn btn-file"><span class="fileupload-new">Выбрать изображение</span><span class="fileupload-exists">Выбрать другое изображение</span><%= f.file_field :avatar %></span>
  </div>
</div>

  <div class="field">
    <%= f.label :info, "Дополнительная информация" %>
    <%= f.text_area :info, :rows => '3' %>
  </div>
  <div class="field">
    <%= f.label :dob, "Дата рождения" %>
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :permit, "Номер пропуска" %>
    <%= f.text_field :permit %>
  </div>
  <div class="field">
    <%= f.label :work_status, "Статус работы" %>
	<%= f.select :work_status, options_for_select(User::WORK_STATUSES, @user.work_status) %>
  </div>

