
  <h2>Сотрудники</h2>

  <table class="table table-striped">
  <tr>
	<th>Логин</th>
	<th>Организация</th>
    <th>Имя</th>
    <th>Фамилия</th>
	<th>Email</th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.username %></td>
	<td><%= organzation_title(user) %></td>
    <td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.email %></td>
    <td><%= link_to 'Подробнее', user %></td>
    <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
	<td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to "Добавить сотрудника", new_user_path %>


