<h2>Новый сотрудник</h2>

<%= form_for @user, :html => { :id => "user_form" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'user_form_fields', f: f %>


  <div class="actions">
    <%= f.submit 'Создать', :class => 'btn btn-primary' %>
  </div>
<% end %>
