<div class="btn-toolbar">
	
	<% unless @document.prepared? %>
	<div class="btn-group">	
		<%= link_to "подготовить", prepare_document_path(@document), :class => "btn btn-success" %>
	</div>
	<% end %>
	
	<% unless @document.approved? || @document.deleted? %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Редактировать', edit_document_path(@document), :class => "btn btn-success" %>
	</div>
	<% end %>
	
	<% if for_send(@document) %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Отправить', send_document_document_path(@document), :class => "btn btn-success" %>
	</div>
	<% elsif recipient(@document) %>
		<%= nil %>
	<% elsif @document.for_confirmation? %>
		<%= nil %>
	<% else %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Отправить', "#", :class => "btn disabled" %>
	</div>
	<% end %>
	
	
	<% if can? :approve, @document %>
	<% if for_approve(@document) %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Подписать', approve_document_path(@document), :class => "btn btn-success" %>
	</div>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'В черновики', to_drafts_document_path(@document), :class => "btn btn-success" %>
	</div>
	<% end %>
	<% end %>
	
	<% if for_callback(@document) %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Отозвать', callback_document_path(@document), :class => "btn" %>
	</div>
	<% end %>
	
	<% unless @document.sent? || @document.deleted? %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Удалить', delete_document_path(@document), :class => "btn btn-danger" %>
	</div>
	<% end %>
	
	<% if for_execution(@document) %>
	<div class="btn-group"   style="margin-right: 10px;">	
		<%= link_to 'Исполнить', execute_document_path(@document), :class => "btn btn-success" %>
	</div>
	<% end %>
	

</div>