<%= form_for(@document) do |f| %>
<div class="new-header">
	<span class="header">№<%= @document.id %> | <%= @document.title %> | <%= Russian::strftime(@document.created_at, "%d %B %Y, %H:%M") %></span>
	<span class="label label-info" style="float: right; margin-top: 7px">Письмо</span>
</div>

<div class="new-title">
	<b>Организация-отправитель: </b><%= organzation_title_by_user_id(@document.user_id) %>
</div>

<div class="new-title">
	<b>Тип документа: </b><%= t(document.document_type) %>
</div>

<div class="new-title">
	<b>Согласующий: </b><%= link_to doc_user(@document.approver_id), user_path(@document.approver_id) %>
</div>

<div class="new-title">
	<b>Исполнитель: </b><%= link_to doc_user(@document.executor_id), user_path(@document.executor_id) %>
</div>

<% if @document.organization_id? %>
<div class="new-title"><b>Организация-получатель: </b><%= organization(@document.organization_id) %><!--<span style="margin-left: 60px;">Исходящий №</span><input class="input-medium" type="text" placeholder=".input-medium">--></div>
<% end %>

<div class="new-text-wrap">
	<%= @document.text.html_safe %>
</div>

<% if @document.confidential? %> 
<div class="new-title">
	<b>Конфиденциально</b>
	<b style="margin-left: 30px;">Получатель:</b> <%= link_to doc_user(@document.recipient_id), user_path(@document.recipient_id) %>
</div>
<% end %>


<% unless @document.document_attachments.blank? %>
<div class="new-title">
	<b>Приложения:</b>
	<ul>
		<% @document.document_attachments.each do |attachment| %>
		  <li><%= link_to attachment.attachment_file_name, attachment.attachment.url(:original, false), :target => '_blank' %></li>
		<% end %>
	</ul>
</div>
<% end %>

<% unless @document.documents.blank? %>
<div class="new-title">
	<b>Привязанные документы:</b>
	<ul>
		<% @document.documents.each do |document| %>
		  <li><%= link_to document.title, document_path(document), :target => '_blank' %></li>
		<% end %>
	</ul>
</div>
<% end %>

<%= render 'actions' %>

<% end %>