<div class="row">
	
	<!-- <%= render 'left' %> -->
	
	<div class="span8">
		
		<div class="btn-toolbar">
			<div class="btn-group">	
				<%= link_to " назад", :back, :class => "btn" %>
			</div>
			
			<div class="btn-group">	
				<a class="btn btn-success" href="javascript:if(window.print)window.print()" style="margin-left: 20px"><%= image_tag('print.png') %></a>
			</div>
			
			<% unless action?('new') || action?('copy') || action?('reply') %>
			<div class="btn-group">	
				<%= link_to image_tag('preview.png'), document_path(@document, format: "pdf"), :class => "btn btn-success" %>
			</div>
			<% end %>
		</div>
		
		<div class="new-wrap">
			<%= form_for(@document) do |f| %>
			<div class="new-header">
			  <span class="header">
				<% if action?('new') %>
				  <% if params[:type == 'mail'] %>
					Новое письмо | 
				  <% elsif params[:type == 'writ'] %>
					Новое распоряжение | 
				  <% else%>
				    Новое письмо | 
				  <% end %>
				<% else %>
				  №<%= @document.id %> | 
				<% end %>
				<%= Russian::strftime(Time.new, "%d %B %Y %H:%M") %></span>
			<% if params[:type] == 'writ' || @document.document_type == 'writ' %>
			  <span class="label" style="float: right; margin-top: 7px">Распоряжение</span>
			<% else %>
			  <span class="label label-info" style="float: right; margin-top: 7px">Письмо</span>
			<% end %>
			</div>
			
			<div class="new-title">Составитель <span style="padding-left: 15px; font-weight: bold;">
			<% if action?('edit') %>
			<%= user(@document.user_id).first_name_with_last_name %>
			<% else %>
			<%= user(current_user.id).first_name_with_last_name %>
			<% end %>
			</span>
			<% if current_user.id != @document.user_id && action?('edit') %>
			<br><span style="color:red;">Внимание, при сохранении внесенных изменений Вы станете составителем данного документа</span>
			<% end %>
			</div>

			
			
			<% if current_user.organization_id? %>
			<div class="new-title">Организация-отправитель <span style="padding-left: 15px; font-weight: bold;"><%= organzation_title(current_user) %></span></div>
			<% end %>
				
				<% if action?('new') %>
				<%= f.hidden_field :document_type, :value => params[:type] %>
				<% elsif action?('reply') %>
				<%= f.hidden_field :document_type, :value => @original_document.document_type %>
				<% elsif %>
				<%= f.hidden_field :document_type, :value => @document.document_type %>
				<% end %>
				
				<%= f.hidden_field :document_conversation_id, :value => @document_conversation_id %>
			
			<div class="new-title"><span style="margin-right: 20px;">Организация-получатель</span> <%= f.collection_select(:organization_ids, Organization.where('id != ?', current_user.organization_id), :id, :title, {:include_blank => false, :selected => @document.organization_id}, {multiple: true, :style=>'width:400px', :'data-placeholder' => "Выберите организацию"}) %> <%= link_to "Отправить всем", "#", :id => :select_all_organizations %></div>
			
			<div class="new-title">Контрольное лицо<%= f.collection_select(:approver_id, @approvers, :id, :first_name_with_last_name) %> <!--<span style="margin-left: 60px;">Исходящий №</span><input class="input-medium" type="text" placeholder=".input-medium">--></div>
			
			<div class="new-title">
				Исполнитель:
				<%= f.collection_select(:executor_id, @executors.all, :id, :first_name_with_last_name, :prompt => t('choose_executor')) %>
				<span id="executor_tel"></span>
			</div>
			
			<% if current_user.has_permission?(5) %>
			<div class="new-title confidential">
			  <%= f.check_box :confidential %>
			  <%= f.label :confidential, "Конфиденциально" %>
			
				<% if @document.confidential? %>
				<%= f.collection_select(:recipient_id, @recipients.all, :id, :first_name_with_last_name, {}, {}) %>
				<% else %>
				<%= f.collection_select(:recipient_id, @recipients.all, :id, :first_name_with_last_name, {}, {:style=>'display:none'}) %>
				<% end %>
			
			</div>
			<% end %>
			
			<div class="new-title">Тема письма <%= f.text_field :title, :class => 'input-xxlarge', :placeholder => 'введите тему письма...' %></div>
			
			
			
			
			
			<div class="new-text-wrap">
				<%= f.cktext_area :text, :class => "text", :ckeditor => {:toolbar => "Pure"} %>
			</div>
				
		    <div class="new-title">
				<%= f.fields_for :document_attachments do |builder| %>
				  <%= render 'document_attachment_fields', f: builder %>
				<% end %>
				<%= link_to_add_fields "Добавить приложение", f, :document_attachments	 %>
			</div>
			
			<div class="new-title">
				<label style="text-indent: 0px; font-weight: bold;">Документы:</label>
				<%= hidden_field_tag "document[document_ids][]", nil %>
				<% @documents.each do |document| %>
				
				<label class="checkbox">
			      <%= check_box_tag "document[document_ids][]", document.id, @document.document_ids.include?(document.id), id: dom_id(document) %>
			 	  <b><%= document.title %></b> ||
			      <%= t(document.document_type) %> ||
				  <%= Russian::strftime(document.created_at, "%d %B %Y %H:%M") %>
			    </label>
				<% end %>
			</div>

			
			
			</div>
			
			<%= render 'actions_form', :f => f %>
		
			<% end %>
	</div>	
</div>
