<div class="row">
	
 <%= render 'left' %>
	
	<div class="span8">

  <%= render 'user' %>
		<h1 class="doc_header">Новое письмо
		<span class="caret"></span></h1>


	<div class="btn-toolbar">
			<%= link_to "Назад", :back, :class => "btn" %>
			<%= link_to "Шаблоны", "#", :class => "btn" %>
			<%= link_to "Черновики", "#", :class => "btn" %>
	</div>
	<%= form_for(@document) do |f| %>
	<%= f.text_field :title, :class => 'input-xxlarge', :placeholder => 'Тема письма' %>
	<%= f.text_field :title, :class => 'input-xxlarge lupe', :placeholder => 'Организация-получатель' %>
	<%= f.text_field :title, :class => 'input-xxlarge lupe', :placeholder => 'Контрольное-лицо' %>
	<%= f.text_field :title, :class => 'input-xxlarge lupe', :placeholder => 'Исполнитель' %>
	<%= f.text_area :title, :class => 'input-xxlarge letter_input', :placeholder => 'Текст письма', :rows => "20" %>

	<% end %>
</div>
