<div class="span2">
	
	<ul class="nav doc-left">
	  <li class="nav-header">Папки</li>
	  <li><%= link_to documents_path(:type => "inbox") do %>
		  Входящие <% unless indox(current_user) < 1  %> (<%= indox(current_user) %>) <% end %>
		  <% end %>
	  </li>
	  <li><%= link_to documents_path(:type => "draft") do %>
		 Черновики
		<% end %>
	  </li>
	  <li><%= link_to "Отправленные", documents_path(:type => "sent") %></li>
	  <li><%= link_to "Корзина", documents_path(:type => "deleted") %></li>
	  <li><%= link_to "Архив", documents_path(:type => "archived") %></li>
	  <li><%= link_to "Отозванные", documents_path(:type => "callback") %></li>	
	</ul>
</div>