<div class="span2">
	
	<ul class="nav doc-left">
	  <li class="nav-header">Папки</li>
	  <li><%= link_to documents_path(:type => "inbox"), :class => ('active' if params[:type] == 'inbox' || controller?("documents") && action?("index") && params[:type] == nil ) do %>
		  Входящие <% unless indox(current_user) < 1  %> (<%= indox(current_user) %>) <% end %>
		  <% end %>
	  </li>
	  <li><%= link_to "Черновики", drafts_documents_path, :class => ('active' if action?("drafts")) %></li>
	  <li><%= link_to documents_path(:type => "prepared"), :class => ('active' if params[:type] == 'prepared') do %>
		  Исходящие 
		
		  <% if current_user.is_superuser? %>
		  <% unless to_be_approved(current_user) < 1  %> (<%= to_be_approved(current_user) %>) <% end %>
		  <% else %>
		  <% unless to_be_sent(current_user) < 1  %> (<%= to_be_sent(current_user) %>) <% end %>
		  <% end %>
		  <% end %>
	  </li>
	  <li><%= link_to sents_documents_path, :class => ('active' if action?("sents")) do %>
		   Отправленные <% unless current_user.open_notices.count < 1 %>(<%= current_user.open_notices.count %>) <% end %>
		  <% end %>
	  </li>
	  <li><%= link_to statements_path, :class => ('active' if controller?('statements') && action?("index")) do %>
		   Акты
		  <% end %>
	  </li>
	  
	  <li><%= link_to "Корзина", documents_path(:type => "deleted"), :class => ('active' if params[:type] == 'deleted') %></li>
	</ul>
</div>