<table class="table table-striped" style="font-size: 12px; width: 900px;">
  	 <tr>
	    <th><%= check_box_tag "document_ids[]", nil, nil, :id => "select_all_documents" %></th>
	    <th>№</th>
	    <th>Отправитель</th>
		<th>Получатель</th> 
		<th>Статус</th>
		<th></th>
	    <th>Тип</th>
	    <th>Тема письма</th>
	    <th style="width: 110px">Дата/Время</th>
	  </tr>

	<% @documents.each do |document| %>
	  <tr>
		<td><%= check_box_tag "document_ids[]", document.id %></td>
		<td><%= document.id %></td>
	    <td><%= organization(document.sender_organization_id) %></td>
		<td><%= organization(document.organization_id) %></td>
		<td><%= document_status(document) %></td>
		<td>
			<% unless document.document_attachments.blank? %>
			<%= image_tag('attachement_ico.png') %>
			<% end %>
		</td>
	    <td>
		  <% if document.document_type == 'mail' %>
		    <span class="label label-info">Письмо</span>
		  <% elsif document.document_type == 'writ' %>
			<span class="label">Распоряжение</span>
		  <% end %>
		</td>
	    <td><%= link_to document.title, document %></td>
	    <td><%= Russian::strftime(document.created_at, "%d %B %Y %H:%M") %></td>
	  </tr>
	<% end %>
</table>