<table class="table table-striped" style="font-size: 12px; width: 900px;">
  	 <tr>
		<% unless action?('show') %>
	    <th><%= check_box_tag "document_ids[]", nil, nil, :id => "select_all_documents" %></th>
		<% end %>
	    <th><%= sortable "id", "№" %></th>
	    <th><%= sortable "sender_organization_id", "Отправитель" %></th>
		<th><%= sortable "organization_id", "Получатель" %></th> 
		<th><%= sortable "sent", "Статус" %></th>
		<th></th>
	    <th><%= sortable "document_type", "Тип" %></th>
	    <th><%= sortable "title", "Тема письма" %></th>
	    <th style="width: 110px"><%= sortable "created_at", "Дата/Время" %></th>
	  </tr>

	<% @documents.each do |document| %>
	  <tr>
		<% unless action?('show') %>
		<td><%= check_box_tag "document_ids[]", document.id, nil, :class => 'document_operation' %></td>
		<% end %>
		<td><%= document.id %></td>
	    <td><%= organization(document.sender_organization_id) %></td>
		<td><%= organization(document.organization_id) %></td>
		<td><%= document_status(document) %></td>
		<td>
			<% unless document.document_attachments.blank? %>
			<%= image_tag('attachement_ico.png') %>
			<% end %>
		</td>
	    <td>
		  <% if document.document_type == 'mail' %>
		    <span class="label label-info">Письмо</span>
		  <% elsif document.document_type == 'writ' %>
			<span class="label">Распоряжение</span>
		  <% end %>
		</td>
	    <td><%= link_to document.title, document %></td>
	    <td><%= Russian::strftime(document.created_at, "%d %B %Y %H:%M") %></td>
	  </tr>
	<% end %>
</table>