<div class="row">
	
	<%= render 'left' %>
	
	<div class="span8">
		
		<%= render 'panel' %>
		
		<table class="table table-striped">
		  	 <tr>
			    <th>Отправитель</th>
				<th>Статус</th>
			    <th>Тип</th>
			    <th>Тема письма</th>
			    <th>Детали</th>
			    <th style="width: 110px">Дата/Время</th>
			  </tr>

			<% @documents.each do |document| %>
			  <tr>
			    <td><%= doc_user(document.user_id) %></td>
				<td><%= document_status(document) %></td>
			    <td>
				  <% if document.document_type == 'mail' %>
				    <span class="label label-info">Письмо</span>
				  <% elsif document.document_type == 'writ' %>
					<span class="label">Распоряжение</span>
				  <% end %>
				</td>
			    <td><%= document.title %></td>
			    <td><%= link_to "Подробнее", document %></td>
			    <td><%= Russian::strftime(document.created_at, "%d %B %Y %H:%M") %></td>
			  </tr>
			<% end %>
		</table>
		
		
	</div>
	
	
</div>
