<div class="row">
	
	<%= render 'left' %>
	
	<div class="span8">
	
		<div class="btn-toolbar">
			<div class="btn-group">	
				<%= link_to " назад", :back, :class => "btn" %>
			</div>

			<div class="btn-group">	
				<%= link_to "создать по образу и подобию", copy_document_path(@document), :class => "btn" %>
			</div>

			<div class="btn-group">	
				<%= link_to "pdf", document_path(@document, format: "pdf"), :target => '_blank', :class => "btn" %>
			</div>
		</div>

		<div class="new-wrap">
			<iframe style="width: 800px; height: 1030px;" src="/documents/<%= @document.id %>.pdf"/></iframe>
			<%= render 'actions_show' %>
	    </div>	
	
		<% if @document.document_type == 'writ' %>
		<div class="new-wrap">
			<% if @document.statements.empty? %>
			  <h5>Акты отсутствуют</h5>
			<% else %>
			  <h5>Акты</h5>
			  <ul>
			  <% @document.statements.each do |statement| %>
			  <li><%= link_to statement.title, statement_path(statement) %></li>
			  <% end %>
			  </ul>
			<% end %>
	    </div>
		<% end %>
		
	
    </div>


</div>