<div class="row">
	
	<%= render 'left' %>
	
	<div class="span8">
	
		<div class="btn-toolbar">
			<div class="btn-group">	
				<%= link_to " назад", :back, :class => "btn" %>
			</div>

			<div class="btn-group">	
				<%= link_to image_tag('create_copy.png'), copy_document_path(@document), :class => "btn btn-success", :title => "Создать по образу и подобию" %>
			</div>

			<div class="btn-group">	
				<%= link_to "pdf", document_path(@document, format: "pdf"), :target => '_blank', :class => "btn btn-success" %>
			</div>
		</div>

		<div class="new-wrap">
			<iframe style="width: 800px; height: 1030px;" src="/documents/<%= @document.id %>.pdf"/></iframe>
			<%= render 'actions_show' %>
	    </div>
		
		<% unless @document.document_attachments.blank? %>
		<p>Прикрепленные файлы</p>
		<% @document.document_attachments.each do |a| %>
		<%= link_to a.attachment_file_name, a.attachment.url(:original, false) %>
		<% end %>
		<% end %>
		
		<% unless @document.documents.blank? %>
		<p>Прикрепленные документы</p>
		<ol>
		<% @document.documents.each do |d| %>
		<li><%= d.created_at.strftime('%d %m %Y') %> <%= link_to d.title, d %></li>
		<% end %>
		</ul>
		<% end %>
		
		<br><br>
		<% unless @conversation.nil? %>
		<p>История переписки</p>
		<%= render 'table', :@documents => @conversation.documents %>
		<% end %>
	
		<% if @document.document_type == 'writ' %>
		<div class="new-wrap">
			<% if @document.statements.empty? %>
			  <h5>Акты отсутствуют</h5>
			<% else %>
			  <h5>Акты</h5>
			  <ul>
			  <% @document.statements.each do |statement| %>
			  <li><%= link_to statement.title, statement_path(statement) %></li>
			  <% end %>
			  </ul>
			<% end %>
	    </div>
		<% end %>
		
	
    </div>


</div>