<div class="top-title">Система автоматизированного контроля за эксплуатацией КЗС</div>

<div class="container">
	
<div class="row">
  <div class="span8 offset2">
	
	<h2 style="text-align: center; margin-top: 50px; color: #00bc80">Авторизуйтесь, пожалуйста</h2>
	
  </div>
</div>

<div class="row">
  <div class="span4 offset4">
	
	      

		<div class="hero-unit sign_in" style="margin-top: 40px">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


		<div class="control-group">
		  <div class="controls">
			<%= f.text_field :login, :placeholder => 'логин' %>
		  </div>
		</div>

		<div class="control-group">
		  <div class="controls">
		    <%= f.password_field :password, :placeholder => 'пароль' %>
			<% if flash[:alert] == "Неверный адрес e-mail или пароль." %>
				<span class="help-inline" style="color: #9a0000; font-size: 14px;"><%= flash[:alert] %></span>
			<% end %>
		  </div>
		</div>

		  <div><%= f.submit "Вход", :class => 'btn' %></div>
		<% end %>

		</div>

  </div>
</div>

<div class="row">
  <div class="span8 offset2" style="margin-top: 30px;">
	
	<%= image_tag('login.png', :class=> 'logos') %>
	
  </div>
</div>

</div>
