<div class="top-title">Система автоматизированного контроля за эксплуатацией КЗС</div>

<div class="container">
	
<div class="row">
  <div class="span8 offset4">
	
	<h3 class='login_header'>Авторизуйтесь, пожалуйста</h3>
	
  </div>
</div>

<div class="row">
  <div class="span6 offset4">
	
	      

		<div class="hero-unit sign_in">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


		<div class="control-group">
		  <div class="controls">
			<%= f.text_field :login, :placeholder => 'логин' %>
			<%= f.submit "Вход", :class => 'btn btn-small login' %>
		  </div>
		</div>

		<div class="control-group">
		  <div class="controls">
		    <%= f.password_field :password, :placeholder => 'пароль' %>
			<% if flash[:alert] == "Неверный адрес e-mail или пароль." %>
				<span class="help-inline"><%= flash[:alert] %></span>
			<% end %>
		  </div>
		</div>

		<% end %>

		</div>

  </div>
</div>

<div class="row">
  <div class="span8 offset2">
	
	<%= image_tag('login.png', :class=> 'logos') %>
	
  </div>
</div>

</div>
