<div style="margin-top: 30px;" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">САКЭ КЗС dev.</a>
    <ul class="nav">
      <%= content_tag(:li, (link_to "Сотрудники", users_path), :class => ('active' if controller?("users"))) %>
	  <%= content_tag(:li, (link_to "Организации", organizations_path), :class => ('active' if controller?("organizations"))) %>
      <%= content_tag(:li, (link_to "Документооборот", documents_path), :class => ('active' if controller?("documents"))) %>
	  <li><a href="#">Зоны ответственности</a></li>
	</ul>
	  
	
	
	  <% if user_signed_in? %>
	<ul class="nav pull-right">
	  <li class="divider-vertical" ></li>
	  <li><%= image_tag(current_user.avatar.url(:small), :size => "39x39") %></li>
	  <li class="dropdown">
	  	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  	      Мой профиль
	  	      <b class="caret"></b>
	  	    </a>
	  	    <ul class="dropdown-menu">
	  	      	<li><%= link_to "Кабинет", user_path(current_user) %></li>
	  			<li><%= link_to "выйти", destroy_user_session_path, method: :delete %></li>
	  	    </ul>
	  	  </li>
	   <% end %>
    </ul>
  </div>
</div>